@media (max-width: 1239px)
    .fis
        &__right
            width: 500px
    .video
        &__video
            width: 600px
        &__cont
            width: calc(100% - 600px)
            padding: 55px 40px
    .contacts
        .g-recaptcha
            max-width: 300px
            transform: scale(0.75)
            transform-origin: 0
        &__btn
            margin-left: -50px
    .functions
        &__wrap
            grid-gap: 60px 20px
        &__block
            width: 220px
    .work
        &__img
            width: 155px
            height: 155px
            &::after
                bottom: -10px
                transform: rotate(-52deg)
        &__name
            font-size: 14px
        &__block:nth-child(2n) .work__img::after
            top: -24px
            left: 105%
            transform: rotate(52deg)
    .integration
        &__feat-cont ul li
            font-size: 13px
            margin-bottom: 5px
@media (max-width: 991px)
    .fis
        &__wrap
            display: block
        &__right
            width: 600px
        &__cont
            width: 100%
            margin-bottom: 28px
    .video
        &__wrap
            display: block
            background: #E0EEEF
        &__video
            display: flex
            width: 100%
            height: auto
        &__cont
            width: 100%
    .integration
        &__list li
            padding-right: 25px
        &__bottom
            flex-wrap: wrap
        &__feat
            width: 48%
    .work
        &__wrap
            width: 100%
            overflow-x: scroll
            padding-bottom: 20px
    .contacts
        &__form
            grid-gap: 30px
            input
                width: 100%
                max-width: 100%
        &__bottom
            width: 100%
            max-width: 100%
    .functions
        &__wrap
            grid-gap: 30px 0px
        &__block
            width: 50%
            padding-right: 25px
@media (max-width: 767px)
    .fis
        &__right
            width: 100%
    .integration
        &__list
            li
                width: 100%
                padding-right: 0
        &__wrap
            flex-direction: column
            grid-gap: 30px
        &__col
            width: 100%
        &__feat
            width: 100%
            &-cont ul li
                font-size: 14px
                margin-bottom: 14px
    .effect
        &__wrap
            display: block
        &__cont
            width: 100%
            margin-bottom: 44px
        &__img
            width: 100%
@media (max-width: 575px)
    .fis
        padding-bottom: 50px
        .swiper-slide
            height: 83px
        &__title
            margin-bottom: 14px
            font-size: 21px
            line-height: 30px
        &__subtitle
            font-size: 14px
            line-height: 24px
            margin-bottom: 14px
        &__img
            height: 190px
            margin-bottom: 27px
    .video
        padding: 50px 0
        &__cont
            padding: 35px 25px
        &__subtitle
            font-size: 14px
            line-height: 18px
            margin-bottom: 19px
        &__title
            font-size: 21px
            line-height: 30px
            margin-bottom: 29px
    .effect
        padding: 45px 0
        &__title
            font-size: 21px
            line-height: 30px
            margin-bottom: 14px
        &__descr
            margin-bottom: 26px
            font-weight: 400
            font-size: 14px
            line-height: 20px
    .integration
        padding: 44px 0
        &__title
            font-size: 21px
            line-height: 30px
            margin-bottom: 19px
        &__block
            height: 395px
            span
                &.active
                    opacity: 1
            img
                max-height: 90%
        &__list
            li
                line-height: 20px
    .work
        padding-bottom: 50px
        &__next
            display: block
            width: 100%
            text-align: center
            margin-top: 40px
        &__name
            font-size: 13px
        &__block:nth-child(2n) .work__img::after
            top: -10px
            left: 110%
        &__title
            font-size: 21px
            line-height: 30px
            margin-bottom: 14px
        &__subtitle
            margin-top: 0
            margin-bottom: 47px
            font-size: 14px
            line-height: 24px
        &__wrap
            grid-gap: 30px
            margin-left: -20px
            margin-right: -20px
            padding-left: 20px
            padding-right: 20px
            width: calc(100% + 40px)
    .contacts
        padding-top: 48px
        padding-bottom: 50px
        .g-recaptcha
            max-width: 300px
            transform: scale(0.62)
            transform-origin: 0
        &__form
            grid-gap: 25px
            input
                width: 100%
                max-width: 100%
            button
                padding: 16px 26px
                font-size: 14px
                line-height: 18px
        &__bottom
            width: 100%
            max-width: 100%
        &__btn
            margin-left: -150px
        &__title
            font-size: 21px
            line-height: 30px
            margin-bottom: 13px
        &__subtitle
            max-width: 280px
            font-size: 14px
            line-height: 20px
            margin-bottom: 27px
    .functions
        padding-top: 40px
        padding-bottom: 28px
        &__title
            margin-bottom: 30px
        &__wrap
            grid-gap: 35px
        &__block
            width: 100%
            display: flex
            align-items: flex-start
            padding-right: 0
        &__icon
            width: 50px
            height: 50px
            margin-right: 20px
            margin-bottom: 0
            padding-top: 4px
        &__text
            width: calc(100% - 70px)
        &__uncommon
            margin-top: 32px
            font-size: 16px
            line-height: 24px
@media (max-width: 369px)
    .contacts
        &__bottom
            flex-wrap: wrap
        &__btn
            margin-left: 0
